<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samnadya.kumpulanappdasar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SimpleSpinner"
            android:label="@string/title_activity_spinner"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samnadya.kumpulanappdasar.MainActivity" />
        </activity>
        <activity
            android:name=".SpinnerMusic"
            android:label="@string/title_activity_spinner_music"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samnadya.kumpulanappdasar.MainActivity" />
        </activity>
        <activity
            android:name=".PopMenu"
            android:label="@string/title_activity_pop_menu"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samnadya.kumpulanappdasar.MainActivity" />
        </activity>
        <activity
            android:name=".WebView_atuh"
            android:label="@string/title_activity_web_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samnadya.kumpulanappdasar.MainActivity" />
        </activity>
        <activity
            android:name=".ListView_dah"
            android:label="@string/title_activity_list_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samnadya.kumpulanappdasar.MainActivity" />
        </activity>
        <activity
            android:name=".CustomList"
            android:label="@string/title_activity_custom_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samnadya.kumpulanappdasar.MainActivity" />
        </activity>
        <activity
            android:name=".InputUser"
            android:label="@string/title_activity_input_user"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samnadya.kumpulanappdasar.MainActivity" />
        </activity>
        <activity
            android:name=".ViewPager_ah"
            android:label="@string/title_activity_view_pager"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samnadya.kumpulanappdasar.MainActivity" />
        </activity>
        <activity
            android:name=".SpinnerBaseAdapter"
            android:label="@string/title_activity_spinner_base_adapter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HasilHitung" />
        <activity
            android:name=".DetailList"
            android:label="@string/title_activity_detail_list"
            android:parentActivityName=".CustomList"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samnadya.kumpulanappdasar.CustomList" />
        </activity>
    </application>

</manifest>